aiohttp==3.13.5
apport_python_hook==0.1.0
argcomplete==3.6.3
attrs==21.2.0
Brotli==1.0.9
cffi==2.0.0
cffi==1.17.1
ConfigParser==7.2.0
cryptography==3.4.8
Cython==3.2.5
dl==0.1.0
docutils==0.23
fastapi==0.136.3
HTMLParser==0.0.2
httpx==0.28.1
importlib_metadata==4.6.4
ipython==8.12.3
ipython==7.31.1
ipywidgets==8.1.8
Jinja2==3.0.3
jnius==1.1.0
keyring==23.5.0
lockfile==0.12.2
loguru==0.7.3
lxml==4.8.0
numpy==1.21.5
ordereddict==1.1
pexpect==4.9.0
Pillow==9.0.1
Pillow==12.2.0
protobuf==7.35.0
psutil==7.0.0
pycryptodome_test_vectors==1.0.22
pydantic==2.13.4
pyelftools==0.32
pyOpenSSL==21.0.0
pyOpenSSL==26.2.0
python-dotenv==1.2.2
railroad==0.5.0
Sphinx==9.1.0
thread==2.0.6
toml==0.10.2
tornado==6.5.6
Twisted==22.1.0
uvicorn==0.48.0
xmlrpclib==1.0.1
zipp==1.0.0
zope.interface==5.4.0
